body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

/* Featured Page */

.modal-header .btn-close {
	margin: -0.5rem -0.5rem -0.5rem auto;
	padding: 0.5rem;
	border: 0;
	border-radius: 0.25rem;
	box-sizing: content-box;
	background: transparent url('./components/images/modalButton.svg') center/1em auto no-repeat;
	color: #fff;
	font-weight: 200;
	height: 1em;
	opacity: 0.5;
	padding: 0.25em;
	width: 1em;
}

/* Feature Detail */

.container-feature {
	display: flex;
}

.main-image {
	border-radius: 4px;
}

/* Navbar  */
.navbar-brand {
	font-size: 20px;
}
.nav-link {
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 16px !important;
	padding-right: 16px !important;
}
.navbar-collapse {
	flex-grow: 0;
}

.bg-info {
	background-color: #17a2b8;
}

.icon-nav {
	color: white;
}

/* Carousel */

.carousel-item {
	height: 600px;
}
.carousel-image-1 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/src/components/images/slide1.jpg');
	background-size: cover;
}
.carousel-image-2 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/src/components/images/slide3.jpg');
	background-size: cover;
}
.carousel-image-3 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/src/components/images/slide2.jpg');
	background-size: cover;
}

.title-color {
	color: #fff;
}
.btn-color {
	background: #17a2b8;
	color: #fff;
}

.bg-c-light {
	margin-top: 0;
	background-color: #f2f2f2;
}
/* About */

.about-section {
	padding: 150px;
}

/* Info */

.section-info {
	font-size: 14px;
	line-height: 16px;
	padding: 100px;
}

.icon {
	font-size: 20px;
	color: #17a2b8;
}

.icon-main {
	margin-bottom: 20px;
}

.items-grid-container {
	margin-bottom: 30px;
}
.underline {
	height: 04px;
	width: 4rem;
	background-color: #17a2b8;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Location */

.card-map {
	margin-top: 5px;
}

.map-img-top {
	width: 100%;
	height: 10vw;
	object-fit: cover;
}

/* Featured */
.card {
	margin-top: 30px;
}

.card-text,
h5 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
}
.card-img-top {
	width: 100%;
	height: 30vw;
	object-fit: cover;
}

.card-text,
span {
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 11px;
	font-weight: 500;
}

.underline {
	margin-bottom: 20px;
}

.featured-list {
	background: #f2f2f2;
	padding: 100px;
}

.section-cards-featured {
	margin: 0 auto;
	max-width: 1030px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
}

/* Media Queries */
@media (min-width: 400px) {
	.section-cards-featured {
		grid-template-columns: repeat(1, 1fr);
	}
	.item-featured {
		margin: 1rem;
	}
}

@media (min-width: 600px) {
	.section-cards-featured {
		grid-template-columns: repeat(2, 1fr);
		margin: 10px auto;
	}
	.item-featured {
		margin: 1rem;
	}
}

@media (min-width: 900px) {
	.section-cards-featured {
		grid-template-columns: repeat(3, 1fr);
	}
	.item-featured {
		margin: 10px 0 10px;
	}
}

/* Modal Headers */

.modal-header {
	background-color: #17a2b8;
	color: #fff;
}

.modal-close {
	color: #fff;
	font-weight: 200;
}

.modal-close:hover {
	color: #fff;
}

/* Billing Modal */

.billing-modal {
	height: 100%;
}

.per {
	font-size: 11px;
}

.cost {
	font-size: 12px;
}

/* Date Select */

/* Booking */

.section-booking {
	position: relative;
	height: 100vh;
}

.section-booking .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Poppins', sans-serif;
	background-image: url('../src/components/images/slide1.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

.input-label {
	display: none;
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 10px;
}

.booking-form .form-control {
	background-color: #fff;
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.react-datepicker__year-dropdown .react-datepicker__year-option:first-child::before {
	content: '\25B2';
	position: absolute;
	top: 5%;
	left: 45%;
	margin: auto;
}

.react-datepicker__year-dropdown::after {
	content: '\25BC';
	display: block;
	position: relative;
	bottom: 15%;
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 500;
	margin-top: 6px;
	margin-left: 7px;
}
.booking-form .form-label-error {
	display: inline-block;
	color: red;
	font-weight: 500;
	margin-top: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #17a2b8;
	font-weight: 700;
	padding: 4px 10px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
}

/* Footer Styles */

.footer-link {
	color: #b9e3ea;
	text-decoration: none;
}

.footer-link:hover {
	color: #e8f6f8;
	text-decoration: none;
}
.footer-info {
	color: #b9e3ea;
}

.footer-contact {
	color: #b9e3ea;
}

.copyright {
	color: #b9e3ea;
	font-size: 14;
}
